*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.hide{
    display: none;
}

.container{
    background-color: #f8fcfde0;
    box-shadow: 0px 0px 15px #b3b5b6e0;
    margin: 5% auto 0px auto;
    padding: 30px 50px;
    border-radius: 1rem;
}

/* Form */
.title-form{
    font-size: 25px;
    color: #2884ee;
    margin: 30px auto;
}

.form-input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

form input{
    border-radius: 6px;
    border: 1px solid #7e7e7e;
    background-color: #fff;
    padding: 10px;
    width: 70%;
    height: 35px;
    font-size: 15px;
}

form button{
    padding: .9rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #2884ee;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Weather */
#weather-data{
    border-radius: 7px;
    margin: 20px 10px;
    padding-top: 1.5rem;
    text-align: center;
}

.city-name{
    font-size: 40px;
    color: #2884ee;
    font-weight: 600;
}

#weather-data h2 i{
    font-size: 1rem;
}

#weather-data span{
    margin: 0.6rem;
}

#description{
    font-weight: bold;
    text-transform: capitalize;
}

#description-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 30px 10px;
    background-color: #2884ee9c;
    border-radius: 7px;
}

#weather-icon{
    width: 50px;
}

#temperature{
    font-size: 30px;
    margin: 5px 0px;
}

#description{
    text-align: right;
    font-size: 25px;
    margin: 5px 0px;
}

#details-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#humidity, #wind{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 50px;
    margin: 5px 20px;
    border-radius: 7px;
    border: 1px solid #7e7e7e;
    background-color: rgb(242, 245, 245);
}

#wind span, #humidity span{
    font-size: 17px;
    font-weight: 600;
}

#wind i, #humidity i{
    color: #000;
}

.author{
    color: #7e7e7e;
}

/*
For mobile phones:
@media only screen and (max-width: 768px) {
   
}

@media only screen and (min-width: 768px) {
For desktop: 
}

@media only screen and (min-width: 600px) {
For tablets:
}

*/